* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb; 
  color: #111827; 
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}


.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 0.375rem; 
  padding: 0.6rem 1.2rem;
  background-color: #2563eb; 
  color: white;
  font-weight: 600;
  transition: background 0.3s;
}

button:hover {
  background-color: #3b82f6; 
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #111827;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

a:hover {
  color: #3b82f6;
}

